@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat&family=Rubik:wght@400;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none;
  border-style: none;
  vertical-align: baseline;
  color: #FFF;
}

html {
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  background-color: #111;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

li, a, i, figure, img, button,
input[type=button], input[type=submit] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input, textarea, button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=button], input[type=submit], input[type=clear], input[type=radio], button, a {
  cursor: pointer;
}

input[type=text] {
  padding: 12px;
  border-radius: 6px;
  font-size: 1.2rem;
  background-color: #232323;
}

input[type="radio"]{
  -webkit-appearance: radio;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



